* {
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #111;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.profile-img {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.profile-photo {
  height: 210px;
  width: 210px;
  object-fit: cover;
  object-position: left;
  border-radius: 50%;
  border: 3px solid black;
  outline: 3px solid;
  cursor: pointer;
}

.counter {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px;
}

.card h2 {
  font-size: 30px;
}

.card p {
  font-size: 22px;
}

.bio {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.bio p {
  font-size: 25px;
}

.bio a {
  opacity: 0.7;
  cursor: pointer;
}

.buttons {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 75px;
  width: 50%;
}

.edit {
  cursor: pointer;
  color: #111;
  font-size: 23px;
  width: 220px;
  height: 70px;
  border-radius: 20px;
  border: none;
  outline: 1px solid #111;
}

.edit a {
  text-decoration: none;
  color: #111;
}

.share {
  background-color: #111;
  cursor: pointer;
  color: #fff;
  font-size: 23px;
  width: 220px;
  height: 70px;
  border-radius: 20px;
  border: none;
  outline: 1px solid #fff;
}

.separator {
  width: 100%;
  margin-top: 36px;
  opacity: 0.3;
}

.icons {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 36px;
  opacity: 0.8;
}

.icons a {
  text-decoration: none;
}

.posts-section {
  margin-top: 25px;
  width: 100%;
}

.post1 {
  position: relative;
}

.post-img {
  height: 400px;
}

.post1 i {
  position: absolute;
  bottom: 3%;
  left: 1%;
  z-index: 100;
}
