* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111;
    overflow-x: hidden;
    position: relative;
}

.container1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
}

.comment-img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.coment-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 1%;
    width: 100%;
    left: 0;
    border-radius: 0 0 15px 15px;
    border-top: 3px solid #2b2b2b;
    padding-top: 15px;
}

.type-cmt {
    background-color: #212121;
    width: 80%;
    border: none;
    padding-left: 15px;
    margin-left: 15px;
    font-size: 20px;
    height: 50px;
}

.container {
    margin-top: 2vh;
    height: 95vh;
    width: 30vw;
    border-radius: 10px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    transform: translate(70%);
    transition: ease-in-out 0.8s;
}

.coments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0f0f0f;
    padding: 10px;
    border: 3px solid #2b2b2b;
    border-radius: 15px 15px 0 0 ;
}

.leftc {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 16px;
}

.rightc {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 20px;
}

.comments-sec {
    width: 30%;
    top: 1%;
    left: 40%;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transform: translate(150%);
    transition: ease-in-out 1s;
}

.profilecmt {
    display: flex;
    width: 90%;
    position: relative;
}

.buttons{
    gap: 10px;
    width: 100%;
    display: none;
    align-items: center;
    margin-right: 40px;
    justify-content:right;
    padding-bottom: 10px;
}

.buttonone {
    padding: 10px 20px;
    color: #111;
    font-weight: 900;
    font-size: 20px;
    border-radius: 40px;
}

.buttontwo {
    padding: 10px 20px;
    color: #111;
    font-weight: 900;
    font-size: 20px;
    border-radius: 40px;
}

.newcmt {
    padding-top: 35px;
}

.coment-area {
    background-color: #212121;
    padding: 20px 90px 10px 80px;
    padding-top: 0;
    border: 3px solid #2b2b2b;
    flex-wrap: wrap;
    border-radius: 0 0 15px 15px;
    height: 80vh;
    position: relative;
}

.container .post {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    object-position: center;
    position: relative;
}

.ri-heart-fill {
    position: absolute;
    color: white;
    font-size: 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) scale(0);
    opacity: 0.9;
    transition: ease-in-out 0.5s;
}

.like {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 30px;
    background-color: #ecbfbf55;
    border: none;
    font-size: 30px;
    top: 45%;
    right: 4%;
    transition: ease-in-out 0.4s;
    transform: scale(1);
}

.proto {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10%;
    left: 5%;
    border: 3px solid black;
    border-radius: 40px;
    outline: 2px solid;
}

.proname {
    position: absolute;
    font-size: 20px;
    bottom: 12.5%;
    left: 16%;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}

.proname a {
    text-decoration: none;
}

.prouser {
    position: absolute;
    font-size: 18px;
    bottom: 10.4%;
    left: 16%;
    font-weight: 300;
    font-size: 14px;
}

.title {
    position: absolute;
    bottom: 6%;
    font-size: 20px;
    left: 5%;
    font-weight: 500;
}

span {
    opacity: 0.5;
    font-weight: 300;
}

.dislike {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 30px;
    background-color: #ecbfbf55;
    border: none;
    font-size: 30px;
    top: 55%;
    right: 4%;
    transition: ease-in-out 0.4s;
    transform: scale(1);
}

.comment {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 30px;
    background-color: #ecbfbf55;
    border: none;
    font-size: 30px;
    top: 65%;
    right: 4%;
    transition: ease-in-out 0.4s;
    transform: scale(1);
}

.share {
    position: absolute;
    height: 65px;
    width: 65px;
    border-radius: 30px;
    background-color: #ecbfbf55;
    border: none;
    font-size: 30px;
    top: 75%;
    right: 4%;
    transition: ease-in-out 0.4s;
    transform: scale(1);
}

.musicicon img {
    height: 65px;
    width: 65px;
    position: absolute;
    object-fit: cover;
    bottom: 5%;
    right: 4%;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: all linear 2s;
}

.number {
    font-size: 16px;
}

.musicbar {
    position: absolute;
    bottom: 0;
    background-color: #111111c0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    animation-name: move;
    text-decoration: none;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    z-index: 0;
}

.musicbar a {
    text-decoration: none;
}

.musicbar1 {
    position: absolute;
    bottom: 0;
    background-color: #111111c0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
    z-index: 0;
    text-decoration: none;
}

.musicbar1 a {
    text-decoration: none;
}

.musicbar2 {
    position: absolute;
    bottom: 0;
    background-color: #111111c0;
    width: 100%;
    padding: 2px 0;
    text-align: center;
    animation-name: move;
    animation-duration: 10s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    z-index: 0;
    text-decoration: none;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(260deg);
    }
    100% {
        transform: rotate(365deg);
    }
}

.musicbar2 a {
    text-decoration: none;
}

@keyframes move {
    0% {
        transform: translate(-100%);
    }
    20% {
        transform: translate(-50%);
    }
    40% {
        transform: translate(0);
    }
    60% {
        transform: translate(50%);
    }
    80% {
        transform: translate(100%);
    }
    100% {
        transform: translate(150%);
    }
}

.share-part {
    display: flex;
    background-color: #212121;
    height: 270px;
    width: 600px;    
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 32%;
    border-radius: 40px;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
}

.share-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.share-top h3 {
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
}

.share-top p {
    font-size: 20px;
}

.app-icon {
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

.share-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon h4 {
    text-align: center;
}

.link {
    padding: 20px;
    margin-top: 10px;
    background-color: #0f0f0f;
    text-align: center;
}

.container2 {
    display: none;
    background-color: #0d0101ca;
    z-index: 100;
    height: 100%;
    width: 100%;
}

.volumn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 1000;
    padding: 1px;
    padding-right: 10px;
    background-color: rgba(0, 0, 0, 0.368);
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 1px;
}

.ri-volume-up-line {
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 1px;
} 

.range {
    margin-left: 4px;
    accent-color: white;
    display: none;
}

.range:hover {
    display: flex;
    cursor: pointer;
}

.ri-volume-down-line {
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 1px;
    display: none;
}

.ri-volume-mute-line {
    font-size: 30px;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 1px;
    display: none;
}

.ri-play-line {
    position: absolute;
    top: 45%;
    font-size: 50px;
    z-index: 101;
    left: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.731);
    border-radius: 50px;
    text-align: center;
    display: none;
}

.ri-pause-line {
    position: absolute;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.731);
    border-radius: 50px;
    font-size: 50px;
    z-index: 100;
    left: 43%;
    opacity: 0;
    transform: scale(0);
    display: none;
    transition: ease-in-out 0.4s;
}

/* Profile */

main {
    height: 100%;
    width: 100%;
    z-index: 200;
    background-color: #111;
}

@media (max-width: 600px) {
  body {
    width: 100%;
  }

  .container1 {
    width: 100%;
    height: auto;
  }

  .container {
    width: 100vw;
    transform: translate(15%);
    height: 70vh;
  }

  .post {
    width: 100vw;
  }

  .proto {
    margin-bottom: 9%;
  }

  .proname {
    margin-bottom: 11%;
    margin-left: 9%;
  }

  .prouser {
    margin-bottom: 10%;
    margin-left: 9%;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
    .container {
        width: 55%;
        position: relative;
        transform: translate(30%);
  }
}

/* Large devices (desktops) */
@media (min-width: 1025px) {
    
}